body {
    background: black;
    color: black;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin: 0;
}

#content {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 7em;
    }
}
