html,
body {
    background: black;
    color: white;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.subtitle {
    font-weight: normal;
    font-size: 1.2rem;
    color: #888;
    margin-top: 0;
}

/* Word cloud menu */
.word-cloud {
    position: relative;
    height: 180px;
    max-width: 500px;
    margin: 2rem auto;
}

.cloud-item {
    position: absolute;
    text-decoration: none;
    color: white;
    transition: opacity 0.2s ease;
}

.cloud-item:hover {
    text-decoration: underline;
}

.cloud-item.active {
    text-decoration: underline;
    opacity: 1;
}

.active-filter {
    margin: 2rem auto;
    padding: 0.8rem 1.2rem;
    background: #222;
    border-radius: 4px;
    display: inline-block;
}

.clear-filter {
    color: #ff6b6b;
    text-decoration: none;
    margin-left: 0.5rem;
}

.clear-filter:hover {
    color: #ff4444;
}

.cloud-center {
    font-size: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cloud-item.pos-1 { top: 15%; left: 25%; }
.cloud-item.pos-2 { top: 10%; left: 58%; }
.cloud-item.pos-3 { top: 42%; left: 12%; }
.cloud-item.pos-4 { top: 45%; left: 75%; }
.cloud-item.pos-5 { top: 72%; left: 22%; }
.cloud-item.pos-6 { top: 70%; left: 60%; }

.cloud-item.size-1 { font-size: 0.9rem; }
.cloud-item.size-2 { font-size: 1.15rem; }
.cloud-item.size-3 { font-size: 1.4rem; }

/* Row layout */
.row {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 6rem auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

a.row {
    flex-direction: row;
}

a.row:hover,
a.row:focus {
    filter: none;
    transform: none;
}

a.row.row-reverse {
    flex-direction: row-reverse;
}

.image-col,
.text-col {
    flex: 1;
}

.text-col {
    text-align: left;
}

.text-col h2 {
    margin-top: 0;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.image-col img {
    max-width: 100%;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
    transition: transform 0.25s ease;
    position: relative;
    z-index: 0;
}

a:hover,
a:focus {
    /*-webkit-filter: invert(100%);*/
    /*filter: invert(100%);*/
    /*z-index: 5;*/
}

img {
    display: block;
    max-width: 50%;
    border: none;
    position: relative;
}

ul,
li {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

marquee {
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
}

pre {
    color: white;
    font-size: 0.8rem;
    transition: transform 0.5s ease;
    position: relative;
    z-index: 10;
}

a:not(:has(img)):not(.cloud-item):hover,
a:not(:has(img)):not(.cloud-item):focus {
    transform: scale(2);
}

pre:first-of-type {
    animation: blink 1s infinite;
    font-size: 1.2rem;
}

pre:not(:first-of-type):nth-of-type(odd):hover {
    transform: rotate(15deg) scale(1.2);
}

pre:not(:first-of-type):nth-of-type(even):hover {
    transform: rotate(-15deg) scale(1.2);
}

#screensaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    z-index: 100;
    background-color: black;
}

#screensaver-text {
    position: absolute;
    text-shadow: 0 0 10px;
}

#screensaver-text,
#counter {
    font-size: 48px;
}

#counter {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1.25rem;
    }
    img {
        max-width: 95%;
        left: auto;
        right: auto;
    }
    pre:first-of-type,
    pre {
        font-size: 0.3rem;
        padding-top: 18px;
        padding-bottom: 3px;
        text-align: center;
        z-index: 10;
    }
    #screensaver-text {
        font-size: 24px;
    }
    #counter {
        font-size: 16px;
    }
    .row,
    .row-reverse,
    a.row,
    a.row.row-reverse {
        flex-direction: column;
    }
    .text-col {
        text-align: center;
    }
    .text-col h2 {
        font-size: 2rem;
    }
    .image-col {
        width: 100%;
    }
    .image-col img {
        max-width: 100%;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
