html,
body {
    background: black;
    color: #777;
    padding-bottom: 25px;
}

img {
    display: block;
    max-width: 95%;
    border: 1px solid #777;
}

a:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#screensaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    z-index: 100;
    background-color: black;
}

#screensaver-bouncing-text {
    position: absolute;
    font-size: 48px;
    text-shadow: 0 0 10px;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1.25rem;
    }
    #screensaver-bouncing-text {
        font-size: 24px;
    }
}
