html,
body {
    background: black;
    color: #777;
    padding-bottom: 50px;
}

img {
    display: block;
    max-width: 95%;
    border: 1px solid #777;
}

a:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#screensaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    z-index: 100;
    background-color: black;
}

#screensaver-bouncing-text {
    position: absolute;
    text-shadow: 0 0 10px;
}

#screen-saver-text,
#counter {
    font-size: 48px;
}

#counter {
    margin-top: 50px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 1.25rem;
    }
    #screen-saver-text {
        font-size: 24px;
    }
    #counter {
        font-size: 16px;
    }
}

pre {
    font-size: 1.2rem;
}
@media (max-width: 600px) {
    pre {
        font-size: 0.35rem;
    }
}
