* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #000;
}

svg.hidden {
    position: absolute;
    width: 0;
    height: 0;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    filter: url(#goo);
}
