html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 8em;
    margin-bottom: 5px;
}

h2 {
    font-weight: normal;
}

#clock-wrapper {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 5em;
    }
}
